.category-producto {
  text-align: center;
}

.div-category {
  height: 100%;
  max-width: 320px;
  padding: 0px 10px;
  margin: 0px auto;
  background-color: var(--lightcreamtransparent);
  border-radius: 10px;
}

.div-img-categoria {
  overflow: hidden;
}

.img-categoria {
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

.img-categoria:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.titulo-categoria {
  background-color: var(--black);
  text-align: center;
  color: var(--lightcream);
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.nombre-categoria {
  font-weight: 700;
  text-transform: uppercase;
}

.precio-categoria {
  font-weight: 600;
}

.descripcion-categoria {
  margin: 15px;
}
