.category-producto{
  text-align: center;
}

.div-category{
  max-width: 300px;
  margin: 0px auto;
  background-color: var(--lightcreamtransparent);
  border-radius: 10px;
}

.div-img-categoria{
  overflow: hidden;
}

.img-categoria {
  width: 300px;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  height: 322px;
}

.img-categoria:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.titulo-categoria {
  background-color: var(--black);
  text-align: center;
  color: var(--lightcream);
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.nombre-categoria{
  font-weight: 700;
  text-transform: uppercase;
}

.precio-categoria{
  font-weight: 600;
}

.descripcion-categoria {
  margin: 15px;
}


