#category-producto {
  text-align: center;
}

.img-categoria {
  width: 300px;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  height: 322px;
}

.img-categoria:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.titulo-categoria {
  margin: 30px;
  padding-left: 8%;
}

.descripcion-categoria {
  margin: 15px;
}

.agregar {
  margin-bottom: 50px;
}


