.div-envio,
.div-pago,
.div-resumen {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px var(--darkcream);
}

.container-general{
    margin-bottom: 4rem;
}

.titulo {
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.div-pago {
  margin-bottom: 0.7rem;
}

.btn-pago {
  margin-top: 0.7rem;
}

.btn-pagar {
  margin-right: 0.5rem;
  margin-top: 1rem;
  background-color: var(--orange);
  color: white;
  border-radius: 10px;
  width: 25%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
 
  
  
}

.field-margin{
    margin-bottom: 1rem;
}

.campo-obligatorio{
    color: rgb(156, 156, 156);
}

.direccion-titulo {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.metodo-titulo{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.check{
  margin-top: 1rem;
  
}

#PayPal{
  
  margin-bottom: 2rem;
}

.resumen-titulo{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.p-subtotal{
    font-size: 16px;
}
.paypal-img {
  width: 15%;
  
}

.brou-logo{
  width: 6%;
  border-radius: 2px;
  margin-left: 3px;
}
.santander-logo{
  border-radius: 2px;
}

.bancos, .tarjetas, .paypal-logo{
  position: relative;
  bottom: 2rem;
  left: 70%;
}





@media (max-width: 426px){
    .btn-pagar{
        
    width: 50%;
        
    }
}



@media (max-width: 991px){
    .div-envio{
        margin-bottom: 1rem;
    }
}

@media (max-width: 499px){
  .bancos, .tarjetas, .paypal-logo{
    position: relative;
    bottom: 2rem;
    left: 60%;
  }
}

@media (max-width: 440px){
  .bancos, .tarjetas, .paypal-logo{
    position: static;
    
  }
}