.add-cart-btn {
  background-color: var(--orange);
  color: white;
  border-radius: 10PX;
  border:none;
}
.plus-item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  background-color: #d3d4d5;
}
.plus-item:hover {
  background-color: var(--orange);
  color: white;
}
.productpage-img {
  width: 430px;
  height: 430px;
}
.cat-product{
  position: absolute;
  right: -50px;
  bottom: -43px;
  scale: 0.6;
  opacity: 95%;
}
.product-footer-cat{
  position: absolute;
  left: 10px;
  bottom: -61px;
}
/* section.product .swiper-button-prev {

}

section.product .swiper-button-next{

} */