.best-seller-img {
  width: 100%;
}
.b-seller-img {
  width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--black);
}

.myProductDiv {
  padding: 0px 10%;
}

.swiper .swiper-button-prev,
.swiper .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0px);
}

.swiper .swiper-button-next,
.swiper .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0px);
}
