.foto-footer {
  width: 150px;
}

.gatito-footer{
  height: 138px;
}

#footer-container {
  padding-top: 20px;
}

.ubicacion{
  color: white;
}

.instagram{
  color: white;
}

.tel{
  text-decoration: none;
  color: white;
}



@media(max-width: 767px){
  .col-footer  {
    padding-top: 20px;

  }
  .gatito-footer{
    display: none;
    
  }
}

@media(max-width: 991px){
  .logo-footer{
    margin-bottom: 2rem;
  }
}

