.photoCarousel{
    transform: scale(1.35);
    transition: transform 5s;
    transition-timing-function: linear;
    opacity: 0;
    width: 0px;
}

.photoCarouselActive {
    transform: scale(1);
    opacity: 1;
    width: 100%;
}
