
body{
   background-color: rgb(245, 245, 245);
}

.img-carrito{
    width: 50px;
}

#container-carrito{
    width: 80%;
}

.tabla-carrito{
    margin-top: 2%;
    border: solid 1px rgb(228, 228, 228);
    border-radius: 10px;
    padding: 2%;
    background-color: white;
}

.h1-carrito{
    font-size: 2.5rem;
    margin-top: 8%;
}


.h2-carrito{
    font-size: 1rem;
    font-family:  'Montserrat', sans-serif;
}



.h3-carrito{
    font-size: 0.8rem;
    text-align: end;
    font-weight: bold;
}

.p-carrito{
    font-size: small;
}

.cantidad{
    display: flex;
    
}

.select-container{
    margin-right: 10px;
}

#btn-continuar{
    background-color: #ff4500;
    width: 100%;
    font-size: small;
}

.form-select{
    
    font-size: small;
}

#btn-borrar-2{
   
    font-size: small;
}

#btn-borrar-1{
   
    font-size: small;
}

#btn-borrar{
    
    font-size: small;
}

.span-carrito{
    font-size: small;
   
}

#descripcion-1{
    padding-left: 2%;
}

#descripcion-2{
    padding-left: 2%;
}

#descripcion-3{
    padding-left: 2%;
}

@media(max-width: 767px){
    .cantidad{
        flex-direction: column;
    }
    .btn {
        margin-top: 3px;
    }
    .h1-carrito{
        margin-top: 14%;
    }

    
}

@media(max-width: 991px){
    #btn-continuar{
        width: 33.3%;
      
    }
}













