@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
body{
   /* background-color: #e6e1d8;*/
   background-color: rgb(245, 245, 245)176, 175, 175;
}

.img-carrito{
    width: 50px;
}

.container{
    width: 80%;
}

.tabla-carrito{
    margin-top: 2%;
}

h1{
    font-size: 2.5rem;
    margin-top: 4%;
}


.h2-carrito{
    font-size: 1rem;
}

.h3-carrito{
    font-size: 0.8rem;
    text-align: end;
    font-weight: bold;
}

p{
    font-size: small;
}

.cantidad{
    display: flex;
    
}

.select-container{
    margin-right: 10px;
}

#btn-continuar{
    background-color: #ff4500;
    width: 100%;
    font-size: small;
}

.form-select{
    
    font-size: small;
}

#btn-borrar-2{
   
    font-size: small;
}

#btn-borrar-1{
   
    font-size: small;
}

#btn-borrar{
    
    font-size: small;
}

span{
    font-size: small;
    
}









