:root body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Dymo';
  src: local('Dymo'), url('./fonts/Dymo.ttf') format('truetype');
}

:root {
  --black: #1c191a;
  --orange: #ff4500;
  --cream: #e6e1d8;
  --gris:  #f5f5f5;
}

section.dark{
  background-color: var(--black);
  color: var(--cream);
}

section.light{
  background-color: var(--gris);
  color: var(--black);
}

section.cream{
  background-color: var(--cream);
  color: var(--black);
}

section.orange{
  background-color: var(--black);
  color: var(--orange);
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

.py-section{
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
