:root body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Dymo';
  src: local('Dymo'), url('./fonts/Dymo.ttf') format('truetype');
}

:root {
  --black: #1c191a;
  --orange: #ff4500;
  --cream: #e6e1d8;
  --gris:  rgb(245, 245, 245)176, 175, 175;
}

section.dark{
  background-color: var(--black);
  color: var(--cream);
}

section.light{
  background-color: var(--cream);
  color: var(--black);
}

section.orange{
  background-color: var(--black);
  color: var(--orange);
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}